/* Changement de BG pour la page contact */
.header {
  background-image: none;
  background-color: unset;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1vw;
  width: 60vw;
  max-width: 130px;
}

main {
  border: rgb(48, 47, 47) solid 3px;
  margin-top: 5vw;
  width: 70vw;
  border-radius: 30px;
  background-color: white;
  padding-bottom: 10vh;
  margin-bottom: 10vw;
  padding: 1vw;
  min-height: 370px;
  max-height: 700px;
  width: 100vw;
}

main h1 {
  text-align: center;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-image: url("../assets/images/background_header.jpg");
  background-size: cover;
  background-position: bottom;
}

input[type="text"] {
  width: 40%;
  border-radius: 5px;
  border: rgb(83, 83, 83) solid 3px;
}

textarea {
  border-radius: 10px;
  border: rgb(83, 83, 83) solid 3px;
  height: 80vh;
  max-height: 150px;
  width: 95vw;
  max-width: 400px;
  resize: none;
}

@media (min-width: 500px) {
  input[type="text"],
  input[type="text-area"] {
    display: block;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1vw;
    width: 60vw;
    max-width: 130px;
  }

  main {
    margin: 10vw;
    border: rgb(48, 47, 47) solid 3px;
    margin-top: 5vw;
    width: 70vw;
    border-radius: 30px;
    background-color: white;
    padding-bottom: 10vh;
    margin-bottom: 10vw;
    padding: 1vw;
    min-height: 370px;
    max-height: 700px;
    width: 450px;
  }

  main {
    margin-left: 15vw;
    width: 70vw;
    border-radius: 30px;
    background-color: white;
    padding-bottom: 10vh;
  }

  main h1 {
    text-align: center;
  }

  body {
    width: 100vw;
    overflow-x: hidden;
    background-image: url("../assets/images/background_header.jpg");
  }

  input[type="text"] {
    width: 40%;
    border-radius: 5px;
    border: rgb(83, 83, 83) solid 3px;
  }

  textarea {
    border-radius: 10px;
    border: rgb(83, 83, 83) solid 3px;
    height: 80vh;
    max-height: 150px;
    width: 95vw;
    max-width: 400px;
    resize: none;
  }
}
