
/* Debug dimensions */
* 
{
    outline: 1px solid red;
}


/* Valeurs par defaut pour eviter soucis margin/padding */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Eviter le scroll */
body
{
    width: 100vw;
    overflow-x: hidden;
}
